/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (assets domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * FONTS
 */

@font-face {
  font-family: "Silkscreen Web";
  src: url("../../assets/fonts/slkscr-webfont.eot");
  src: url("../../assets/fonts/slkscr-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../assets/fonts/slkscr-webfont.woff") format("woff"),
    url("../../assets/fonts/slkscr-webfont.ttf") format("truetype"),
    url("../../assets/fonts/slkscr-webfont.svg#silkscreennormal") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * GAME
 */

html {
  font-size: 16px;
}

body {
  align-items: center;
  display: flex;
  font-family: "Silkscreen Web", monotype;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

text {
  font-family: "Silkscreen Web", monotype;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
